@import url(all.min.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}
.container{
    width: 1170px;
    margin: auto;
}
h4{
    font-size: 30px;
}
.text-center{
    text-align: center;
}
p{
    font-size: 18px;
}
/* Header style */
header{
    background-image:url("../img/banner.jpg") ;
    color: white;
    background-repeat: no-repeat;
   background-size: 100% 100% ; 
}
header a{
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}

#menu div{
    float: left;
    margin-top: 15px;

}
#menu nav{
    float: right;
}
#menu nav ul{
    padding-top:45px ;

}
#menu nav ul li{
    display: inline-block;
    padding-right: 30px;
}
#menu nav ul li:last-child{
    padding-right: 0;
}
#menu nav ul li:hover a, .active:hover{
    color: #87d37c;
}
#menu a img{
    color:#87d37c ;
}
.header-content{
    clear: both;
    padding-top:150px ;
    padding-bottom: 200px;   
}
header h1{
    font-size: 40px;

}
header h2{
    font-size: 100px;
    font-weight: 300;

}
header h3{
    font-size: 36px;
}
.text-center{
    text-align: center;
}
header h2 span{
    color: #87d37c;

}
/* About US style */
#aboutus{
    padding-top: 115px;
    padding-bottom: 115px;

}
#aboutus h4{
    font-size: 36px;
    color: #040404;
    margin-bottom: 40px;

}
/* #aboutus{
   font-size: 36px;
   margin-bottom: 15;
   color: #040404;

} */
#aboutus p{
    font-size: 18px;
    color: #262627;
 }
 #aboutus .row{
    margin-top: 65px;
 }
 #aboutus .row p{
    font-size: 14px;
    color: #030303;
 }
 #aboutus h5{
    font-size: 24px;
    color: #030303;
    margin-top: 30px;
    margin-bottom: 20px;
 }
 #aboutus .col-3:hover div span{
    color: #87d37c;
 }
 #aboutus .col-3:hover div h5{
    color: #87d37c;
 }
 #aboutus span i{
     color: #87d37c;
 }
.row{
    /* display: inline-block;
    padding-top: 65px; */
    overflow:hidden;
    margin-right: -15px;
    margin-right: -15px;
    
}
.col-3{
    width: 25%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-4{
    width: 32%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
/* service style */
#services{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #e1e1e1;
}
#services h4{
    margin-bottom: 40px;
}
#services .row{
    margin-top: 75px;
}
#services .col-3{
    position: relative;
}
#services .col-3 .servicesIcon{
    position: absolute;
    top:0%;
    left:15px;
    display: none !important;
    height: 243px;
    width: 270px;
    background-color: rgba(0, 0, 0, .5);
    display: none;
}
#services .col-3 .servicesIcon i{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 20px;
    margin-right: 15px;
}
#services .col-3 .servicesIcon div{
    margin: 90px auto;
    width: 60%;
}
#services .col-3:hover .servicesIcon i:hover{
    background-color: #87d37c;
    border-color: #87d37c;
}
#services .col-3:hover .servicesIcon{
    display: block;
}
/* My portfolio section */
#porfolio{
    padding-top: 160px;
    margin-bottom: 160px;
}
#porfolio h4{
    padding-top: 35px;
    padding-bottom: 35px;
}
#porfolio nav{
    margin-top:50px ;
    margin-bottom: 70px;
}
#porfolio ul{
    margin: auto;
}
#porfolio ul li{
    display: inline;
    margin: 15px;
    padding: 15px;
    border: 1px solid #f5f5f5;
    background-color: #010101;
    color: #fff;

}
#porfolio ul li:hover{
    color: aqua;
}
#porfolio .col-4{
    position: relative;
    padding-bottom: 20px;
}
#porfolio .col-4 .write{
    position: absolute;
    top:0%;
    left:15px;
    display: none;
    height: 340px;
    width: 370px;
    background-color: rgba(0, 0, 0, .7);
    /* display: none; */
}
#porfolio .col-4:hover .write{
    display: block;
}
#porfolio .col-4:hover .write h4{
    padding-top: 120px;
    margin: auto;
    color: #87d37c;
}
/* Our pricing section */
#ourpricing{
    background-color: #fdfafa;
    /* padding-top: 80px; */
    padding-bottom: 130px;
}
#ourpricing h4{
    color: #000;
    margin-bottom: 50px;
}
#ourpricing .row{
    margin-top: 105px;

}
#ourpricing .col-3 div{
    background-color: #39393a;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 6px;
}
#ourpricing .col-3 div h5{
    font-size: 30px;
    height: 130px;
    width: 130px;
    border: 5px solid #fff;
    border-radius: 50%;
    margin: auto;
    padding-top: 30px;
}
#ourpricing .col-3 div sup{
    font-size: 14px;
}
#ourpricing .col-3 div sub{
    font-size: 18px;
}
#ourpricing .col-3 div span{
    font-size: 20px;
}
#ourpricing .col-3 div p{
    font-size: 14px;
    color: #fffefe;
    border-bottom: 1px solid #fffefe;
    width: 70%;
    margin: 25px auto;
}
#ourpricing .col-3 div button{
    padding: 10px 20px;
    background-color: #fefdfc;

}
#ourpricing .col-3 div:hover{
    background-color: #87d37c;
}
#ourpricing .col-3 div:hover h5{
    color: #87d37c;
    background-color: #fff;
}
#ourpricing .col-3 div:hover button{
    color: #87d37c;
    border-color: #87d37c;
}
/* Feedback Section goes here */
#feedback{
    background-image: url("../img/img111.jpg");
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    position: relative;

}
#feedback::before{
    content:'';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
}
.feedback-text{
    padding: 25px 40px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, .3);
    position: relative;
}
.feedback-text p{
    color: #fff;
    text-align: center;
}
/* #feedback .col-3 div{
    background-color: rgba(0, 0, 0, .3);
    height: 120px;
    width: 250px;
    border: 1px solid #fff;
} */
#feedback .col-3 div p:first-child{
    font-weight: 900;
    font-size: 72px;

}
/* #feedback .col-3 div p{
   text-align: center;
   padding-top: 20px;
   color:white ;
   
} */
/* Contact Us section */
#contactus{
    padding-top: 140px;
    padding-bottom: 125px;
}
#contactus div h4{
    padding-bottom: 80px;
    color: #000;
    font-size: 36px;

}
#contactus .row{
    padding-top: 90px;
}
#contactus p i, footer li a i{
    color: #87d37c;
}
#contactus h5{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #030303;
}
#contactus .col-3:hover i, #contactus .col-3:hover h5{
    color: #87d37c;
}

/* .row :hover {
    color: #87d37c;
} */
/* FORM SECTion */
#contactform{
    padding-top: 130px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}
.col-6{
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
input{
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
}
textarea{
    width: 100%;
}
input[type="submit"]{
    width: auto;
    padding: 12px 30px;
    background-color: #87d37c;
    border-color: 1px solid #87d37c;
}
input[type="submit"]:hover{
    background-color: black;
    color: white;
}
/* Footer Section */
footer{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: right;
    background-color: #000;
}
footer p, footer a i{
    color: #fff;
}
/* .col-4{
    width:33.33%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
} */
.col-8{
    width: 66.66%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
footer ul li{
    display: inline-block;
    margin-right: 20px;
}
footer ul li:last child{
    margin-right: 0px;
}
footer ul li:hover a{
    color: black;
}
footer span{
    color: red;
}