@import url(all.min.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}
.container{
    width: 1170px;
    margin: auto;
}
h4{
    font-size: 30px;
}
.text-center{
    text-align: center;
}
p{
    font-size: 18px;
}
/* Header style */
header{
    background-image:url("../img/banner.jpg") ;
    color: white;
    background-repeat: no-repeat;
   background-size: 100% 100% ; 
}
header a{
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}
.active{
    color: red !important;
}
#menu div{
    float: left;
    margin-top: 15px;

}
#menu nav{
    float: right;
}
#menu nav ul{
    padding-top:45px ;

}
#menu nav ul li{
    display: inline-block;
    padding-right: 30px;
}
#menu nav ul li:last-child{
    padding-right: 0;
}
#menu nav ul li:hover a, .active:hover{
    color: #87d37c;
}
#menu a img{
    color:#87d37c ;
}
.header-content{
    clear: both;
    padding-top:150px ;
    padding-bottom: 200px;   
}
header h1{
    font-size: 40px;

}
header h2{
    font-size: 100px;
    font-weight: 300;

}
header h3{
    font-size: 36px;
}
.text-center{
    text-align: center;
}
header h2 span{
    color: #87d37c;

}
/* About US style */
#aboutus{
    padding-top: 115px;
    padding-bottom: 115px;

}
#aboutus h4{
    font-size: 36px;
    color: #040404;
    margin-bottom: 40px;

}
/* #aboutus{
   font-size: 36px;
   margin-bottom: 15;
   color: #040404;

} */
#aboutus p{
    font-size: 18px;
    color: #262627;
 }
 #aboutus .row{
    margin-top: 65px;
 }
 #aboutus .row p{
    font-size: 14px;
    color: #030303;
 }
 #aboutus h5{
    font-size: 24px;
    color: #030303;
    margin-top: 30px;
    margin-bottom: 20px;
 }
 #aboutus .col-3:hover div span{
    color: #87d37c;
 }
 #aboutus .col-3:hover div h5{
    color: #87d37c;
 }
 #aboutus span i {
     color: #87d37c;
 }
.row{
    /* display: inline-block;
    padding-top: 65px; */
    overflow:hidden;
    margin-right: -15px;
    margin-right: -15px;
    
}
.col-3{
    width: 25%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-4{
    width: 32%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
/* service style */
#services{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #e1e1e1;
}
#services h4{
    margin-bottom: 40px;
}
#services .row{
    margin-top: 75px;
}
#services .col-3{
    position: relative;
}
#services .col-3 .servicesIcon{
    position: absolute;
    top:0%;
    left:15px;
    display: none;
    height: 243px;
    width: 270px;
    background-color: rgba(0, 0, 0, .5);
    display: none;
}
#services .col-3 .servicesIcon i{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 20px;
    margin-right: 15px;
}
#services .col-3 .servicesIcon div{
    margin: 90px auto;
    width: 60%;
}
#services .col-3:hover .servicesIcon i:hover{
    background-color: #87d37c;
    border-color: #87d37c;
}
#services .col-3:hover .servicesIcon{
    display: block;
}
/* My portfolio section */
#porfolio{
    padding-top: 160px;
    margin-bottom: 160px;
}
#porfolio h4{
    padding-top: 35px;
    padding-bottom: 35px;
}
#porfolio nav{
    margin-top:50px ;
    margin-bottom: 70px;
}
#porfolio ul{
    margin: auto;
}
#porfolio ul li{
    display: inline;
    margin: 15px;
    padding: 15px;
    border: 1px solid #f5f5f5;
    background-color: #010101;
    color: #fff;

}
#porfolio ul li:hover{
    color: aqua;
}
#porfolio .col-4{
    position: relative;
    padding-bottom: 20px;
}
#porfolio .col-4 .write{
    position: absolute;
    top:0%;
    left:15px;
    display: none;
    height: 340px;
    width: 370px;
    background-color: rgba(0, 0, 0, .7);
    /* display: none; */
}
#porfolio .col-4:hover .write{
    display: block;
}
#porfolio .col-4:hover .write h4{
    padding-top: 120px;
    margin: auto;
    color: #87d37c;
}
